/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
config/app.php
config/app.php
config/app.php

package-lock.json

config/app.php
public/js/app.js
resources/assets/.DS_Store
resources/.DS_Store
public/.DS_Store
.DS_Store
