@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);a {
  text-decoration: none;
}

.cdb-toolbar-icon {
  height: 48px;
}

.cdb-bottom-right {
  position: absolute;
  right: 0;
}

/* TRANSITION */

.component-fade-enter-active {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
}

.component-fade-enter,
.component-fade-leave-to,
.component-fade-leave-active {
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
}

.fab-fix {
  line-height: 1.5em !important;
  font-size: 2em !important;
}

