@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);a {
  text-decoration: none;
}

.cdb-toolbar-icon {
  height: 48px;
}

.cdb-bottom-right {
  position: absolute;
  right: 0;
}

.close-btn {
  border: none !important;
  right: -5px !important;
  top: -5px !important;
}

.cus-edit-btn {
  right: 0px !important;
  bottom: 0px !important;
}

.redText > div > input {
  color: red !important;
}

.vital-date {
  color: red !important;
}

.est-note-align {
  padding-top: 21px !important;
}

.bottom-nav {
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  margin-left: -4px;
}

.bottom-nav > .btn {
  opacity: 1 !important;
  -webkit-filter: none !important;
          filter: none !important;
}

/* TRANSITION */

.component-fade-enter-active {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
}

.component-fade-enter,
.component-fade-leave-to,
.component-fade-leave-active {
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
}

.component-lightbox-enter-active {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.component-lightbox-enter,
.component-fade-leave-to,
.component-fade-leave-active {
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
  opacity: 0;
}

.complete-btn {
  font-size: 3.75em !important;
}

.fab-fix {
  line-height: 1.5em !important;
  font-size: 2em !important;
  z-index: 0 !important;
}

.fab-up {
  bottom: 5px !important;
}

.new-cus-btn {
  bottom: -8px;
}

.lightBoxWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.lightBoxImage {
  width: 65%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.catpure-cont {
  text-align: center;
}

.capture-error {
  width: auto;
  height: auto;
  display: inline-block;
  max-height: 75vh;
}

@media print {
  * {
    visibility: hidden !important;
    margin: 0px;
  }

  body {
    height: 11in;
    overflow: hidden;
  }

@page {
    margin: 0mm;
}

  .cb-print {
    visibility: visible !important;
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 8in;
    height: 10.5in;
    margin: 0.2in;
    margin-left: 0.2325in;
  }

  .cb-print-element {
    position: absolute !important;
    visibility: visible !important;
  }

  .cb-print-blanks {
    height: 0.45in;
    width: 3.95in;
  }

  .cb-print-top-box {
    display: inline-block;
    visibility: visible !important;
    height: 100%;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .cb-print-top-text {
    visibility: visible !important;
    position: relative;
    bottom: -0.275in;
    font-size: 0.75em;
    color: grey;
  }

  .cb-print-top-flags {
    width: 1.34in;
  }

  .cb-print-top-deposit {
    width: 0.75in;
  }

  .cb-print-top-gold-credit {
    width: 0.75in;
  }

  .cb-print-total {
    width: 1in;
  }

  .cb-print-customer-info {
    height: 0.85in;
    top: 0.5in;
    width: 2.45in;
    font-size: 1.3em;
    padding-left: 30px;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .cb-print-customer-icon {
    left: 0px;
  }

  .cb-print-note {
    top: 0in;
    left: 4.05in;
    width: 3.95in;
    height: 1.95in;
    padding: 5px;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .cb-print-job-num {
    top: 0.5in;
    width: 1.45in;
    height: 0.55in;
    left: 2.5in;
    font-size: 1.75em;
    line-height: 2.2em;
    text-align: center;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding-left: 40px;
  }

  .cb-print-estimate {
    height: 0.85in;
    top: 1.1in;
    left: 2.5in;
    width: 1.45in;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 3px;
    line-height: 0.7em;
  }

  .cb-print-est-amt {
    visibility: visible !important;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
  }

  .cb-print-est-note {
    font-size: 0.9em;
    visibility: visible !important;
    line-height: 0.9em;
  }

  .cb-print-due {
    top: 1.4in;
    width: 2.45in;
    height: 0.55in;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    font-size: 2.5em;
    text-align: center;
    padding-left: 0.5in;
  }

  .cbPrintRed {
    color: red !important;
  }

  .cb-print-alarm-icon {
    font-size: 50px !important;
    left: 5px;
    line-height: 1.1em !important;
  }

  .cb-print-work-icon {
    font-size: 40px !important;
    left: 5px;
    line-height: 1.4em !important;
  }

  .cb-print-images {
    top: 2in;
    width: 100%;
    height: 4in;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-fill: auto;
            column-fill: auto;
    -webkit-column-gap: 0.1in;
            column-gap: 0.1in;
  }

  .cb-print-image-cont {
    position: static !important;
    height: 0.99in;
    margin-bottom: 0.01in;
    width: 100%;
    padding: 1px;
  }

  .cb-print-image {
    position: static !important;
    float: left;
    height: 100%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .cb-print-image-note {
    position: static !important;
    height: 0.97in;
    max-height: 0.97in;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    line-height: 1.1em;
  }

  .cb-print-logo {
    width: 3.4in;
    top: 6.2in;
    left: 0.25in;
  }

  .cb-print-customer-name {
    top: 7.4in;
    font-weight: bold;
    margin-left: 0.25in;
  }

  .cb-print-cus-images {
    top: 7.6in;
    width: 100%;
    height: 3in;
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-fill: auto;
            column-fill: auto;
    -webkit-column-gap: 0.1in;
            column-gap: 0.1in;
    text-align: center;
    line-height: 0em;
  }

  .cb-print-cus-img-cont {
    position: static !important;
    height: 1.49in;
    padding: 1px;
    display: inline-block;
  }

  .cb-print-cust-img {
    position: static !important;
    height: 100%;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .cb-print-cus-job-info {
    left: 4.05in;
    width: 2.45in;
    height: 0.85in;
    top: 6.25in;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  .cb-print-cus-estimate {
    top: 6.25in;
    width: 1.45in;
    height: 0.85in;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    left: 6.55in;
  }

  .cb-print-cus-warning {
    top: 10in;
    font-size: 1.2em;
    left: 4.25in;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
    text-align: center;
  }
}

@media screen {
  .cb-print {
    display: none !important;
  }
}

