@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);a {
  text-decoration: none;
}

.cdb-toolbar-icon {
  height: 48px;
}

.cdb-bottom-right {
  position: absolute;
  right: 0;
}

.close-btn {
  border: none !important;
  right: -5px !important;
  top: -5px !important;
}

.redText > div > input {
  color: red !important;
}

.vital-date {
  color: red !important;
}

.est-note-align {
  padding-top: 21px !important;
}

.bottom-nav {
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  margin-left: -4px;
}

.bottom-nav > .btn {
  opacity: 1 !important;
  -webkit-filter: none !important;
          filter: none !important;
}

/* TRANSITION */

.component-fade-enter-active {
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.5s ease;
  transition: transform 0.3s ease, opacity 0.5s ease, -webkit-transform 0.3s ease;
}

.component-fade-enter,
.component-fade-leave-to,
.component-fade-leave-active {
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  opacity: 0;
}

.component-lightbox-enter-active {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.component-lightbox-enter,
.component-fade-leave-to,
.component-fade-leave-active {
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
  opacity: 0;
}

.complete-btn {
  font-size: 3.75em !important;
}

.fab-fix {
  line-height: 1.5em !important;
  font-size: 2em !important;
  z-index: 0 !important;
}

.fab-up {
  bottom: 5px !important;
}

.new-cus-btn {
  bottom: -8px;
}

.lightBoxWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.lightBoxImage {
  width: 65%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  visibility: hidden !important;
  margin: 0px;
}

body {
  height: 11in;
  overflow: hidden;
}

@page {
  margin: 0mm;
}

.cb-print {
  visibility: visible !important;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 8.5in;
  height: 11in;
}

.cb-print-element {
  position: absolute !important;
  visibility: visible !important;
}

.cb-print-blanks {
  height: 0.5in;
  width: 50%;
  background-color: blue;
}

.cb-print-customer-info {
  height: 1.5in;
  top: 0.5in;
  width: 50%;
  background-color: purple;
  font-size: 1.5em;
  padding-left: 30px;
}

.cb-print-customer-icon {
  left: 0px;
}

.cb-print-note {
  top: 0in;
  left: 50%;
  width: 50%;
  height: 2in;
  background-color: green;
}

.cb-print-images {
  top: 2in;
  width: 100%;
  height: 5.99in;
  background-color: red;
  -webkit-column-count: 2;
          column-count: 2;
}

.cb-print-image-cont {
  position: static !important;
  height: 1.5in;
  width: 100%;
  background-color: pink;
}

.cb-print-image {
  position: static !important;
  float: left;
  height: 100%;
}

.cb-print-image-note {
  position: static !important;
  height: 1.5in;
  max-height: 1.5in;
  overflow: hidden;
}

