
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// .cdb-app-drawer {
    a {
        text-decoration: none;
    }
    
// }

.cdb-toolbar-icon {
    height: 48px;
}

.cdb-bottom-right {
    position: absolute;
    // bottom: -45px;
    right: 0;
    // width: 100%;
}

/* TRANSITION */
.component-fade-enter-active {
    transition: transform 0.3s ease, opacity 0.5s ease;
}
  
.component-fade-enter, .component-fade-leave-to, .component-fade-leave-active {
    transition: opacity 0s ease;
    transform: translateX(-20%);
    opacity: 0;
}


.fab-fix {
    line-height: 1.5em !important;
    font-size: 2em !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}