
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// .cdb-app-drawer {
    a {
        text-decoration: none;
    }
    
// }

.cdb-toolbar-icon {
    height: 48px;
}

.cdb-bottom-right {
    position: absolute;
    // bottom: -45px;
    right: 0;
    // width: 100%;
}

.close-btn {
    border: none !important;
    right: -5px !important;
    top: -5px !important;
    // z-index: 0 !important;
}

.redText > div > input{
    color: red !important;
}

.vital-date {
    color: red !important;    
}

.est-note-align {
    padding-top: 21px !important;
}

.bottom-nav {
    justify-content: left !important;
    margin-left: -4px;
}

.bottom-nav > .btn {
    opacity: 1 !important;
    // color: blue !important;
    filter: none !important;
}

/* TRANSITION */
.component-fade-enter-active {
    transition: transform 0.3s ease, opacity 0.5s ease;
}
  
.component-fade-enter, .component-fade-leave-to, .component-fade-leave-active {
    transition: opacity 0s ease;
    transform: translateX(-20%);
    opacity: 0;
}

.test {
    font-size: 3em !important;
}

.fab-fix {
    line-height: 1.5em !important;
    font-size: 2em !important;
    z-index: 0 !important;    
}

.fab-up {
    bottom: 5px !important;
}

.new-cus-btn {
    bottom: -8px;
}